{% extends 'base.html' %}

 {% block header %}
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style/samples.css" />
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/webgl-utils.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/glMatrix-0.9.5.min.js"></script>
	    <script type="text/javascript" src="{{ STATIC_URL }}scripts/samples_script.js"></script>
	    
	    
<script id="shader-fs" type="x-shader/x-fragment">
    #ifdef GL_ES
    precision highp float;
    #endif

    varying vec2 vTextureCoord;

    uniform sampler2D uSampler;

    void main(void) {
        gl_FragColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
    }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;
    attribute vec2 aTextureCoord;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    varying vec2 vTextureCoord;


    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        vTextureCoord = aTextureCoord;
    }
</script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/samples_canvas.js"></script>
 {% endblock %}

{% block content %}
<div id=main-canvas>
	<canvas id="beyond-canvas" width="1124px" height="500"></canvas>
	<div id=hotkey ></div>
</div>
{% endblock %}